/* 
    Created on : 13/11/2015, 20:33:56
    Author     : Luiz Mattos
*/
#topo{
    background-color: #017338;
    color: whitesmoke;
    height: 250px;
}

body {
    position: relative; 
}

.jumbotron{
    margin: 0;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #115c35;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
/**
Seções
*/
#inicio {padding-top:50px;height:500px;color: #fff; background-color: #DCDCDC; padding: 0;}
#cursos {padding-top:50px;height:410px;color: #fff; background-color: #2E8B57;}
#noticias {padding-top:50px;height:500px;color: #fff; background-color: #115c35;}
#fotos {padding-top:50px;height:930px;color: #fff; background-color: #2E8B57;}
#videos {padding-top:50px;height:500px;color: #2F4F4F; background-color: #DCDCDC;}
#contato {padding-top:50px;height:500px;color: #2F4F4F; background-color: #DCDCDC;}
#local {padding-top:50px;height:600px;color: #2F4F4F; background-color: #DCDCDC;}


/**
Carrossel de imagens
*/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%; height: 500px;
      margin: auto;
  }
 
  /**
  Personalizar o ícone de dentro de formulário
  */
  .has-feedback{
      color: darkslategray;
  }

  .panel-body{
      font-weight: bold;
      color: #017338;
      text-align: center;
  }
  .modal-content{
      color: black;
      margin-top: 20%;
  }
.h5{
      color: #017338;
  }
   #contato h1{margin-bottom: 20px;}
  
  #contato p{
      color: darkslategrey;
      font-family: arial;
      padding: 5px;
  }
  
  #contato input, #contato textarea, #contato button{
      margin: 5px;
      padding: 10px;
      
  }
  
  #local iframe,#videos iframe{
      box-shadow: 5px 5px 10px black;
  }
  
  #contato .glyphicon{
      color: darkslategrey;
  }
